<h3>Iniciar Sesion</h3>
@page "/loginControl"

@using System.Web;

<AuthorizeView>

    <Authorized>

        <b>Hello, @context.User.Identity.Name!</b>

        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Cerrar Sesion</a>

    </Authorized>

    <NotAuthorized>

        <input type="text"
               placeholder="Usuario"
               @bind="@Username"
              />

        &nbsp;&nbsp;

        <input type="password"
               placeholder="Contraseña"
               @bind="@Password" />

        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@encode(@Username)&paramPassword=@encode(@Password) "
           target="_top">iniciar Sesion</a>

    </NotAuthorized>

</AuthorizeView>

@code {
    string Username = "";

    string Password = "";
  

    private string encode(string param)

    {

        return HttpUtility.UrlEncode(param);

    }

}
