
@page "/loginControl"

@using System.Web;

    <AuthorizeView>

        <Authorized>

            <b>Hola, @context.User.Identity.Name!</b>

            <a class="ml-md-auto btn btn-primary"
               href="/logout?returnUrl=/"
               target="_top">Cerrar Sesion</a>

        </Authorized>
        <NotAuthorized>
            <center>
                <a class="ml-md-auto btn btn-primary"
                   href="/"
                   target="_top">Inicie Secion</a>
            </center>

        </NotAuthorized>

    </AuthorizeView>
