


@page "/ContConsulta"
@using ProyectoFinalAp2.Pages


@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>


    <NotAuthorized>
        <p class="display-4 text-center">Usted no esta autorizado para acceder a esta pagina</p>
    </NotAuthorized>

</AuthorizeView>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="form-group">
            <div class=" form-row">

                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Clientes</h5>
                            <p class="card-text">Consulta .</p>
                            <a href="ConClientes" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>

                <div class=" text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Usuarios</h5>
                            <p class="card-text">Consulta .</p>
                            <a href="ConUsuarios" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>

                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Entrada</h5>
                            <p class="card-text">Consultar .</p>
                            <a href="CoEntrada" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>


                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Articulo</h5>
                            <p class="card-text">Consulta  .</p>
                            <a href="ConArticulos" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>

                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Proveedores</h5>
                            <p class="card-text">Consultar  .</p>
                            <a href="ConProveedores" class="btn btn-primary">Ir a la  Consulta</a>
                        </div>
                    </div>
                </div>

                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Categorias</h5>
                            <p class="card-text">Consultar .</p>
                            <a href="ConCategorias" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>

                <div class="text-center col-md-6 col-sm-12  col-lg-3">

                    <div class="card" style="width: auto;">
                        <div class="border border-info">
                            <h5 class="card-title">Consulta de Trabajos</h5>
                            <p class="card-text">Consultar .</p>
                            <a href="ConTrabajos" class="btn btn-primary">Ir a la Consulta</a>
                        </div>
                    </div>
                </div>
               
        <div class=" text-center col-md-6 col-sm-12  col-lg-4">

            <div class="card" style="width: auto;">
                <div class="border border-info">
                    <h5 class="card-title">Consulta de Facturas</h5>
                    <p class="card-text">Consultar .</p>
                    <a href="ConFactura" class="btn btn-primary">Ir a la Consulta</a>
                </div>
            </div>
        </div>
    </div>


            </div>

    </div>


}




@code {

}
